<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
    <title>iView</title>
    <link rel="stylesheet" href="../assets/css/iview.css">
    <link rel="stylesheet" href="../assets/css/app.css">
</head>
<body>
    <div class="title">项目列表</div>
    <div id="app" v-cloak>
        <div class="home-app" v-if="!isHidden">
            <Row class="home-row" type="flex" justify="center" align="middle">
                <i-col span="24">
                    <Row class="home-menu" :gutter="32">
                        <i-col style="margin-bottom:10px;" span="18" :offset="3">
                            <i-button style="height:100px;" type="ghost" long icon="ios-plus-empty" @click="handleOpenApp">App名称</i-button>
                        </i-col>
                        <i-col span="18" :offset="3">
                            <i-button type="ghost" long icon="ios-plus-empty" @click="handleCreateApp">立即创建app</i-button>
                        </i-col>
                    </Row>
                </i-col>
            </Row>
            <div class="home-version">
                当前 OUI 版本：<a href="javascript:void(0)" @click="checkUpdate(true)">0.0.49</a>
            </div>
        </div>
        <Modal
            v-model="showUpdate"
            title="发现新版本"
            ok-text="下载"
            @on-ok="handleOk"
            @on-cancel="handleCancel"
            width="200">
            <p>更新内容：</p>
            <ul v-html="update.desc"></ul>
        </Modal>
    </div>
    <script type="text/javascript" src="../assets/js/vue.min.js"></script>
    <script type="text/javascript" src="../assets/js/iview.min.js"></script>
    <script type="text/javascript" src="../src/project_list.js"></script>
</body>
</html>